<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Denis ROBERT{% endblock %}</title>

  <script type="module" src="{{ url_for('static', filename='js/balises/NavBar.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/balises/SiteFooter.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}"/>

  {% block styles %}{% endblock %}
  {% block head_scripts %}{% endblock %}
</head>
<body>
  <nav-bar
    root="/"
    username="{{ current_user.username }}"
    permissions="{{ current_user.permissions | tojson | forceescape }}">
  </nav-bar>

  <main>
    {% block content %}{% endblock %}
  </main>

  <site-footer></site-footer>

  {% block scripts %}{% endblock %}

</body>
</html>