{% extends "base.html" %}

{% block title %}Denis ROBERT — Mes Projets{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components/section.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/mesprojets.css') }}"/>

  <script type="module" src="{{ url_for('static', filename='js/balises/ProjectCard.js') }}"></script>
{% endblock %}

{% block content %}
<div class="section">
  <p class="section-tag">Mes projets</p>
  <h2 class="section-title">Mes Projets</h2>
  <p class="section-lead">Voici l'ensemble de mes projets réalisés</p>

  <h3 class="project-category-title">Projets personnels</h3>
  <div class="project-grid">
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='launcherrocketleague') }}" type="Personnel" name="Launcher Rocket League" description="Réalisation d'un nouveau launcher pour le jeu Rocket League sans lancer Epic Games."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='addskipperdc') }}" type="Personnel" name="Add Skipper Dragon City" description="Programme qui permet de quitter automatiquement les pubs dans le jeu mobile Dragon City."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='vpn') }}" type="Personnel" name="VPN" description="Mise en place d'un VPN pour mon domicile avec Wireguard."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='server') }}" type="Personnel" name="Serveur auto-hébergé" description="Mise en place d'un serveur Proxmox qui permet de gérer l'ensemble de cette page et de mon homelab."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='smilelife') }}" type="Personnel" name="Smile Life" description="Réalisation d'une version en ligne de Smile Life en Python."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='resolution2048') }}" type="Personnel" name="Résolution du jeu 2048" description="Programmation d'un script de résolution du jeu 2048."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='serverminecraft') }}" type="Personnel" name="Hebergement server Minecraft" description="Mise en place d'un server minecraft auto-hébergé."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='nextcloud') }}" type="Personnel" name="Service NextCloud" description="Un service de cloud alternatif à google drive"></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='database') }}" type="Personnel" name="Base de Données" description="Un service de base de données"></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='mapageweb') }}" type="Personnel" name="Ma page Web" description="Une page web de gestion et de présentation"></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='nginx') }}" type="Personnel" name="Service Nginx" description="Un service de reverse proxy"></project-card>
  </div>

  <h3 class="project-category-title">Projets académiques</h3>
  <div class="project-grid">
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='generationnombrealeatoire') }}" type="Etudes" name="Génération de Nombre Aléatoire" description="Implémentation en Python d'algorithmes de génération de nombre aléatoire ainsi que de tests statistiques."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='algorithmegenetique') }}" type="Etudes" name="Algorithme Génétique" description="Création d'un algorithme génétique de résolution de labyrinthe."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='jeuloupgarou') }}" type="Etudes" name="Jeu Loup-Garou" description="Implémentation du jeu de loup-garou en Python avec une interface terminale."></project-card>
    <project-card href="{{ url_for('projets.detail_projet', nom_projet='jeusplendor') }}" type="Etudes" name="Jeu Splendor" description="Implémentation du jeu Splendor en Java en groupe."></project-card>
  </div>
</div>
{% endblock %}