<div class="minecraft-server-card">
    <div class="server-main-infos">
        <div class="name">null</div>
        <div class="status">null</div>
    </div>
    <div class="server-infos">
        <div class="cpu">cpu : ${cpu}</div>
        <div class="ram">cpu : ------ : ${ramUsed}/${ramLimit}</div>
        <div class="disk">cpu : ------ : ${diskUsed}/${diskLimit}</div>
    </div>
    <div class="buttons">
        <div class="start-button">Démarer</div>
        <div class="stop-button">Stop</div>
        <div class="details-button">details</div>
    </div>
</div>